APP_PORT=8085

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_PASSWORD="SecretPassword161"
DATABASE_USERNAME="user"
DATABASE_NAME="AIDB"
DATABASE_SYNCHRONIZE=false

RMQ_QUEUE="ai-queue"
RMQ_URL="amqp://default_user:default_password@localhost:5672"
